.app-layout{

min-height: 100vh;
display: flex;
flex-direction: column;


}

.app-header{

	
	height: 15vh;
	background-color: #84b6f4;
}
.app-footer{

	display: flex;
	justify-content: center;
	font-weight: bold;
	height: 5vh;
	background-color: #84b6f4;
}

.app-main{
   display: flex;
	flex-grow: 1;
	justify-content: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
